body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  background-attachment: fixed;
  animation: slideBg 20s linear infinite 0s;
  animation-timing-function: ease-in-out;
  background-image: linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.7)),url('https://images.unsplash.com/photo-1494832944834-a08818c634b0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80');
}

@keyframes slideBg{
  0% {
    background-image:linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.7)),url('https://images.unsplash.com/photo-1494832944834-a08818c634b0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80');
  }

  25%{
    background-image:linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.7)),url('https://images.unsplash.com/photo-1522661067900-ab829854a57f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
  }

  50%{
    background-image:linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.7)),url('https://images.unsplash.com/photo-1542810634-71277d95dcbb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80');
  }

  75%{
    background-image:linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.7)),url('https://images.unsplash.com/photo-1522366973393-c86778cf310b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
  }

  100%{
    background-image:linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.7)),url('https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
  }
}

#abc{
  color: rgb(248, 246, 245);
  text-align: center;
  font-size: 400%;
  background:rgba(0, 0, 0, 0.24);
  padding: 50px;
}

#fff{
  font-size: 150%;
}

#para{
  color: white;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  font-size: 125%;
}

.btn {
  background-color:rgba(0, 0, 0, 0.637);
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(66, 0, 0);
}

label{
  color: white;
}

fieldset{
  padding: 60px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 254, 254);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(66, 0, 0);
  color: white;
}
